**/vue/node_modules
**/vue/dist
**/release/
**/.idea/
.vscode/
**/.DS_Store
**/tmp/
.build/
.task/
*.pprof
**/__debug_bin.exe
**/__debug_bin*
.pgdata/
.DS_Store
**/**/node_modules
_ignore
.local_env
.env
test/stress/stress
**/debug.test*
gen/
dist/*

# kwild
.testnet

# IDE
.run

# go
vendor/

go.work
go.work.sum